// This file is meant to be deleted in order to start with a completely blank slate for styling
$bp-sm: 36rem;
$bp-md: 48rem;
$bp-lg: 62rem;
$bp-xl: 75rem;
$bp-xxl: 100rem;

$purple: #9957A0;
$yellow: #f5d42e;
$feint: #f1f8ff;
$textColour: #333;

html, body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: $textColour;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
* {
  box-sizing: border-box;
}
body {
  background-color: $purple;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.5;
  margin: 1rem 0 1.5rem 0;
}
p {
  line-height: 1.4;
  margin: .5rem 0 1rem 0;
  .code {
    font-family: monospace;
    display: inline-block;
    background-color: fade-out($textColour, .2);
    color: #fff;
    border: #000;
    border-radius: .2rem;
    padding: .1rem .2rem;
    margin: .1rem 0;
    font-size: .8rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
  }
  a .code, .code a {
    color: #fff;
    &:hover {
      color: $yellow;
    }
  }

  +h1, +h2, +h3, +h4, +h5, +h6 {
    margin-top: 2.5rem;
  }
}

a {
  color: darkcyan;
  text-decoration: underline;
  &:hover {
    color: darkorchid;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

footer {
  padding: 3rem;
  text-align: center;
  font-size: 0.8rem;
  color: #fff;
  a {
    color: #fff;
    &:hover {
      color: $yellow;
    }
  }
  ul, p {
    margin: 1rem;
  }
  ul {
    display: flex;
    list-style: none;
    margin: 1rem;
    padding: 0;
    justify-content: center;
    li {
      padding: .5rem;
      font-size: 1rem;
    }
  }
}

header {
  background-color: $yellow;
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    li {
      margin: 0;
      padding: 0;
      flex-grow: 1;
      a {
        display: block;
        padding: 1rem 1.6rem;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        color: $purple;
        position: relative;
        border-bottom: 2px solid transparent;
        transition: background-color .2s, color .2s, border-bottom-color .2s;
        &:hover {
          color: $yellow;
          background-color: $purple;
          border-bottom: 2px solid #fff;
          transition: background-color .2s, color .2s, border-bottom-color .2s;
        }
      }
    }
  }
  @media screen and (min-width: $bp-md) {
    ul {
      justify-content: left;
      li {
        flex-grow: 0;
      }
    }
  }
}

.container {
  margin: 0 auto;
  @media screen and (min-width: $bp-xl) {
    max-width: 80rem;
  }
}

.illustration-header {
  background-color: $purple;
  color: $yellow;
  border-bottom: 0.3rem solid $yellow;
  .container {
    position: relative;
    .illustration {
      padding: 2rem;
    }
    .caption {
      padding: 2rem;
      text-align: center;
    }
  }
  @media screen and (min-width: $bp-sm) {
    .container {
      display: flex;
      padding: 2rem;
      > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
      }
      .caption {
        padding-right: 3rem;
        h1 {
          font-size: 2rem;
          @media screen and (min-width: $bp-lg) {
            font-size: 3rem;
          }
        }
        p {
          font-size: 120%;
        }
        text-align: right;
      }
      .illustration {
        img {
          max-height: 70%;
        }
      }
    }
  }
}

.standard-prose {
  background-color: $feint;
  .rich-text {
    max-width: 60rem;
    margin: 0 auto;
    padding: 3rem;
    @media screen and (min-width: $bp-xxl) {
      padding: 3rem 0;
    }
  }
}

.prose-float {
  background-color: $feint;
  .prose, .illustration {
    padding: 1rem;
  }
  .sub-section .container {
    max-width: 60rem;
  }
  @media screen and (min-width: $bp-md) {
    .sub-section .container {
      display: flex;
      padding: 3rem 0;
    }
    .illustration {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .sub-section:nth-child(even) .container {
      .illustration {
        order: 0;
      }
      .prose {
        order: 1;
      }
    }
  }
}

.code-block {
  background-color: $feint;
  padding: 1rem;
  .container {
    max-width: 60rem;
    margin: 0 auto;
  }
}

.tagged-documents {
  background-color: $purple;
  .caption {
    padding: 1rem;
    color: #fff;
    margin: 0 auto;
    max-width: $bp-md;
    h2 {
      font-weight: normal;
      font-size: 2.5rem;
    }
  }
  .document-list {
    margin-left: 1rem;
    border-left: 1px solid rgba(255,255,255,0.6);
    padding: 1rem;
    h3 {
      font-weight: normal;
      font-size: 1.4rem;
      padding: 0 0 .5rem 0;
      margin: 0 0 .5rem 0;
      border-bottom: 1px solid rgba(255,255,255,0.2);
    }
    p {
      margin: 0;
    }
    a {
      display: block;
      text-decoration: none;
      color: #fff;
      padding: 2rem 1rem;
      background: rgba(255,255,255,0);
      transition: background-color .3s, color .3s;
      position: relative;
      &:hover {
        background: rgba(255,255,255,0.6);
        transition: background-color .3s, color .3s;
        color: $purple;
      }
      &::before {
        display: block;
        position: absolute;
        background-color: #fff;
        top: 50%;
        margin-top: -.5rem;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        content: "";
        left: -1.5rem;
        box-shadow: 0 0 0.4rem rgba(0,0,0,0.5);
      }
    }
  }
  @media screen and (min-width: $bp-lg) {
    .caption {
      text-align: center;
    }
    .document-list {
      margin: 0 auto;
      max-width: $bp-lg;
      border: none;
      position: relative;
      &::before {
        display: block;
        position: absolute;
        content:"";
        height: 100%;
        left: 50%;
        top: 0;
        width: 1px;
        background: rgba(255,255,255,0.6);
      }
      a {
        width: 50%;
        left: 50%;
        padding-left: 3rem;
        &::before {
          left: -.5rem;
          right: auto;
        }
        &:nth-child(even) {
          left: 0;
          text-align: right;
          padding-left: 1rem;
          padding-right: 3rem;
          &::before {
            left: auto;
            right: -.5rem;
          }
        }
      }
    }
  }
}

.related-documents {
  background-color: $feint;
  padding: 2rem 1rem;
  border-color: $purple;
  border-style: solid;
  border-width: 1px 0 1px 0;
  text-align: center;
  .container {
    > h2 {
      font-size: 2rem;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
      margin: 1rem;
      padding: 1rem;
      border-radius: .3rem;
      border: 1px solid fade-out($purple, 0.2);
      background-color: fade-out($purple, 0.5);
      max-width: $bp-sm * .5;
      transition: background-color .3s;
      &:hover {
        background-color: fade-out($purple, 0.6);
        transition: background-color .3s;
      }
      a {
        display: block;
        height: 100%;
        text-decoration: none;
        color: $textColour;
      }
    }
  }
}
